// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  //   list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 10px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

header {
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0.5rem;
    a {
      text-decoration: none;
      padding: 0.25em;
      margin: 0 0.75rem;
      border: 2px dotted gray;
      font-size: 1.6rem;
    }
  }
}

.section1 {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: space-evenly;

  h1 {
    text-align: center;
    color: blue;
    font-size: 3.5rem;
  }

  .profile {
    margin: 1%;
  }

  .skills {
    width: 100%;
    // margin-left: 25%;
    // display: flex;

    h2 {
      .headerSize2();
      width: 100%;
      text-align: center;
      margin: 5%;
    }

    .skills-info {
      display: flex;
      justify-content: space-evenly;
      //   flex-direction: column;

      h3 {
        text-align: center;
        width: 20%;
        .headerSize3();
        margin: 1%;
      }
    }
  }
}

.section2 {
  width: 100%;
  margin: 2% 0;
  display: flex;
  justify-content: space-evenly;
  .generalSize();

  h2 {
    .headerSize2();
  }

  h3 {
    .headerSize3();
  }

  .predator {
    display: flex;
    flex-direction: column;
  }
}

.section3 {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 0;

  h2 {
    width: 100%;
  }

  .doggo {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 1% 0;

    p {
      margin: 1% 0;
      width: 75%;
    }
  }
}

.generalSize {
  font-size: 1.6rem;
}

.headerSize2 {
  font-size: 3rem;
}

.headerSize3 {
  font-size: 2.4rem;
}
