/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 10px;
}
.container {
  width: 900px;
  margin: 0 auto;
}
h2 {
  color: red;
  border-bottom: 2px solid red;
}
header nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0.5rem;
}
header nav a {
  text-decoration: none;
  padding: 0.25em;
  margin: 0 0.75rem;
  border: 2px dotted gray;
  font-size: 1.6rem;
}
.section1 {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  background-color: lightgray;
}
.section1 h1 {
  text-align: center;
  color: blue;
  font-size: 3.5rem;
}
.section1 .profile {
  margin: 1%;
  width: 400px;
}
.section1 .profile .image {
  text-align: center;
  width: 100%;
}
.section1 .profile .image .charles {
  width: 100%;
  border-radius: 90%;
}
.section1 .skills {
  width: 100%;
}
.section1 .skills h2 {
  font-size: 3rem;
  width: 100%;
  text-align: center;
}
.section1 .skills .skills-info {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}
.section1 .skills .skills-info ul {
  font-size: 2.4rem;
  margin: 0 0 0 8%;
}
.section1 .skills .skills-info li {
  padding: 5%;
}
.section1 .skills .skills-info p {
  height: 100%;
  width: 50%;
  font-size: 1.6rem;
}
.section2 {
  width: 100%;
  margin: 2% 0;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.6rem;
}
.section2 h2 {
  font-size: 3rem;
  margin-bottom: 2.5%;
}
.section2 h3 {
  font-size: 2.4rem;
}
.section2 .education {
  width: 45%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-right: 2px dotted gray;
}
.section2 .school {
  margin-bottom: 2.5%;
}
.section2 .awards {
  width: 40%;
}
.section3 {
  margin: 2% 0;
  font-size: 1.6rem;
}
.section3 h2 {
  width: 100%;
  font-size: 3rem;
  margin-bottom: 2.5%;
}
.section3 .doggo-box {
  display: flex;
  justify-content: space-evenly;
}
.section3 .doggo-box .doggo {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: 0% 5px;
  border: 2px solid gray;
}
.section3 .doggo-box h3 {
  font-size: 2.4rem;
  color: blue;
}
.section3 .doggo-box p {
  margin: 1% 0;
  width: 100%;
}
.section4 {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}
.section4 h2 {
  font-size: 3rem;
}
.section4 .form {
  padding: 2%;
}
.section4 input {
  margin: 1% 0px;
}
.section4 input,
.section4 textarea {
  border: 2px dotted gray;
}
.section4 button {
  border-radius: 12px;
  background-color: white;
  font-size: 20px;
  color: blue;
}
footer {
  font-size: 1.6rem;
  text-align: center;
}
.generalSize {
  font-size: 1.6rem;
}
.headerSize2 {
  font-size: 3rem;
}
.headerSize3 {
  font-size: 2.4rem;
}
